<h1 class="text-center">L'ajout des référentiels</h1>
<form class="row col-10 m-auto p-4" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="col p-4 m-auto">
    <div class=" row m-3">
      <label class="col-3 float-left">Libelle</label>
      <input type="text" class="form-control col-8 float-right"
             placeholder="Libelle"
             [(ngModel)]="libelle"
             formControlName="libelle"
             [ngClass]="{'is-invalid': submitted && f.libelle.errors }"
      >
    </div>
    <div class="text-danger text-center" *ngIf="submitted && f.libelle.errors">
      <div *ngIf="f.libelle.errors.required">Libelle is required</div>
    </div>
    <div class="row m-3">
      <label class="col-3 float-left">Presentation</label>
      <textarea class="col-8 float-right" [(ngModel)]="presentation"
                formControlName="presentation"
                [ngClass]="{'is-invalid': submitted && f.presentation.errors }">

      </textarea>
    </div>
    <div class="text-danger text-center" *ngIf="submitted && f.presentation.errors">
      <div *ngIf="f.presentation.errors.required">Presentation is required</div>
    </div>
   <!-- <div class="row m-3">
      <label class="col-3 float-left">Groupes Competences</label>
      <ng-multiselect-dropdown
        name="groupeCompetences" id="groupeCompetences" class="col-8 float-right"
        formControlName="groupeCompetences"
        [placeholder]="'select groupes competences'"
        [(ngModel)]="selectedItems"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
    <div class="text-danger text-center" *ngIf="submitted && f.groupeCompetences.errors">
      <div *ngIf="f.groupeCompetences.errors.required">Groupe Competence is required</div>
    </div>-->
    <div class="row m-3">
      <label class="col-3 float-left">Critères d'évaluation</label>
      <textarea class="col-8 float-right" [(ngModel)]="critereEvaluation"
                formControlName="critereEvaluation"
                [ngClass]="{'is-invalid': submitted && f.critereEvaluation.errors }">

      </textarea>
    </div>
    <div class="text-danger text-center" *ngIf="submitted && f.critereEvaluation.errors">
      <div *ngIf="f.critereEvaluation.errors.required">Critere Evaluation is required</div>
    </div>
    <div class="row m-3">
      <label class="col-3 float-left">Critères d'admission</label>
      <textarea class="col-8 float-right" [(ngModel)]="critereAdmission"
                formControlName="critereAdmission"
                [ngClass]="{'is-invalid': submitted && f.critereAdmission.errors }">

      </textarea>
    </div>
    <div class="text-danger text-center" *ngIf="submitted && f.critereAdmission.errors">
      <div *ngIf="f.critereAdmission.errors.required">Critere Admission is required</div>
    </div>
    <div class="row m-3 custom-file">
      <label class="custom-file-label col-lg-11 float-right" for="customFileLang">select file for the programs</label>
      <input type="file" id="customFileLang" class=" "
             [(ngModel)]="programme"
             (change)="uploadefiler($event)"
             formControlName="programme"
             [ngClass]="{'is-invalid': submitted && f.programme.errors }"
             placeholder="programme">
    </div>
    <div class="text-danger text-center" *ngIf="submitted && f.programme.errors">
      <div *ngIf="f.programme.errors.required">Programme is required</div>
    </div>
    <button class="btn btn-danger float-left mt-4 submit" [routerLink]="['/home','list-referentiels']" >Annuler</button>
    <button type="submit" class="btn btn-info mt-4  float-right submit">Soumettre</button>
  </div>
</form>
