  <h6 class="display-4 text-center">Détails de l'utilisateur</h6>
<div class="row">
  <div class="col-sm-8 m-auto">
    <button class="btn btn-info retour" [routerLink]="['/home','list-users']">Retour</button>
    <div class="card">
      <img
        class="card-img-top"
        src="data:image/jpeg;base64,{{users.photo}}"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{users.nom}} {{users.prenom}}</h5>
        <hr />
        <h5 class="text-center">PhoneNumber:     {{users.phone}}</h5>
        <hr />
        <h5 class="text-center">Email:      {{users.email}}</h5>
        <hr />
        <h5 class="card-text text-center">Profil:  {{users.profil.libelle}}</h5>
        <qr-code class="codeQr" [value]="myQrCode" size="150"></qr-code>
      </div>
    </div>
  </div>
</div>
